fastapi==0.104.0
uvicorn==0.23.1
celery==5.3.1
redis==4.5.4
httpx==0.24.1
requests==2.31.0
certifi==2024.12.14
billiard==4.2.1
geopy==2.3.0
pydantic==2.6.0
python-dotenv==1.0.0
unidecode>=1.3.8
geopy
geonamescache>=2.0.0
Levenshtein>=0.26.1